<!-- views/index.handlebars -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car List</title>
</head>
<body>
    <h1>Car List</h1>    
     {{!-- <!-- Search Form -->
    <form action="/items/search" method="GET">
        <label for="searchQuery">Search:</label>
        <input type="text" id="searchQuery" name="query" placeholder="Enter search query">
        <button type="submit">Search</button>
    </form> --}}
    <ul>
        {{#each items}}
        <li>
            <strong>ID:</strong> {{this.id}} <br>
            <strong>Brand:</strong> {{this.brand}} <br>
            <strong>Model:</strong> {{this.model}} <br>
            <strong>Price:</strong> {{this.price}} <br>            
        </li>
        {{/each}}
    </ul>
</body>
</html>
