<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{title}}</title>
</head>

<body>
    <div class="container" style="background: #343a40;width: 455px;margin-bottom: 45px;padding-bottom: 20px;padding-top: 20px;border-radius: 10px;box-shadow: 0px 10px 8px rgb(22,25,22);margin-top: 66px;">
        <h1 style="color: rgb(133,204,127);text-align: center;margin-bottom: 15px;">Ota yhteyttä</h1>
        <h1 style="color: #dce4dc;font-size: 23px;text-align: center;margin-bottom: 15px;border-color: #a6aea6;">Puh. 010 123 456</h1>
        <h1 style="color: #dce4dc;font-size: 22px;text-align: center;margin-bottom: 15px;">e-mail. test@test.fi</h1>
    </div>
    <section class="position-relative py-4 py-xl-5">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                    <div class="card d-xl-flex align-items-center align-content-center justify-content-xl-center align-items-xl-center mb-5" style="background: var(--bs-gray-dark);box-shadow: 0px 10px 8px rgb(22,25,22);border-radius: 10px;margin-top: 0px;padding: 45px;padding-top: 50px;padding-bottom: 50px;">
                        <h2 class="text-center mb-4" style="color: #85cc7f;">Lähetä viesti</h2>
                        <form method="post" style="background: var(--bs-gray-dark);width: 300px;position: static;">
                            <div class="mb-3"><input class="form-control" type="text" id="name-2" name="name" placeholder="Name" style="background: rgb(191,204,190);"></div>
                            <div class="mb-3"><input class="form-control" type="email" id="email-2" name="email" placeholder="Email" style="background: rgb(191,204,190);"></div>
                            <div class="mb-3"><textarea class="form-control" id="message-2" name="message" rows="6" placeholder="Message" style="background: rgb(191,204,190);"></textarea></div>
                            <div><button class="btn btn-primary d-block w-100" type="submit" style="background: rgb(133,204,127);color: var(--bs-dark-text-emphasis);border-style: none;">Lähetä</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{!-- <script src="/js/bootstrap.min.js"></script> --}}
</body>

</html>