<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Home page</title>
  <!-- Include jQuery for AJAX functionality -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="container mt-5">
      <h1>Search cars</h1>
      <form id="searchForm" action="/items/search" method="get" class="form-inline mb-4">
        <div class="form-group mx-sm-3 mb-2">
          <label for="brandSelect">Select Brand:</label>
          <select id="brandSelect" name="brandSelect" class="form-control" multiple="multiple">
            {{#each car_brand}}
            <option value="{{this.brand_id}}">{{this.brand_name}}</option>
            {{/each}}
          </select>

          <label for="modelSelect">Select Model:</label>
          <select id="modelSelect" name="modelSelect" class="form-control" multiple="multiple">
            {{#each car_model}}
            <option value="{{this.model_id}}">{{this.model_name}}</option>
            {{/each}}
          </select>
        </div>

        <button type="submit" class="btn btn-primary mb-2">Search</button>
      </form>
    </div>



  <script>
    $(document).ready(function () {
      // Tässä käsitellään automerkin valinta
      $('#brandSelect').on('change', function () {
        var selectedBrandId = $(this).val(); // Hae valitun automerkin brand_id
        // Lähetä pyyntö backendiin valitun brand_id kanssa
        $.ajax({
          method: 'POST',
          url: '/items/get-car-models',
          data: { brandIds: selectedBrandId },
          success: function (response) {
            // Päivitä mallivalikko vastauksen mukaisesti
            updateModelSelect(response);
          },
          error: function (xhr, status, error) {
            console.error('Virhe pyynnössä:', error);
          }
        });
      });

      // Päivittää mallivalikon
      function updateModelSelect(models) {
        var modelSelect = $('#modelSelect');
        modelSelect.empty(); // Tyhjennä mallivalikko

        models.forEach(function (model) {
          var option = $('<option>').attr('value', model.model_id).text(model.model_name);
          modelSelect.append(option); // Lisää jokainen malli mallivalikkoon
        });
      }
    });
  </script>

  <div class="container" style="margin-top:100px;margin-bottom:100px;">
    <div class="row">
      <div class="col-md-12">
        <div class="simple-slider">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide"
                style="background: url(img/car-1376190_1280.jpg) center center / cover no-repeat;"></div>
              <div class="swiper-slide"
                style="background: url(img/car-2678274_1280.jpg) center center / cover no-repeat;"></div>
              <div class="swiper-slide"
                style="background: url(img/ferrari-f430-2930661_1280.jpg) center center / cover no-repeat;"></div>
              <div class="swiper-slide"
                style="background: url(&quot;https://www.kbb.com/wp-content/uploads/2022/08/2022-mercedes-amg-eqs-front-left-3qtr.jpg?w=918&quot;) center center / cover no-repeat;">
              </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>