<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contact_us</title>
</head>

<body>

    <h1>Search Results</h1>
    <ul>
        {{#each items}}
        <li>
            Brand: {{this.brand_name}},
            Model: {{this.model_name}}
        </li>
        {{/each}}
    </ul>
    {{!-- <script src="/js/bootstrap.min.js"></script> --}}
</body>

</html>