<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car List</title>
  {{!--
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> --}}
  <!-- Add Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Add Bootstrap Multi-Select Dropdown CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.16/css/bootstrap-multiselect.css"
    rel="stylesheet">
  <!-- Add jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <!-- Add Bootstrap Multi-Select Dropdown JS -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.16/js/bootstrap-multiselect.min.js"></script>
</head>

<body>
  <div>
    <form action="/items/search" method="get">
      <label for="brand_name">Brand Name:</label>
      <input type="text" id="brand_name" name="brand_name">

      <label for="model_name">Model Name:</label>
      <input type="text" id="model_name" name="model_name">

      <button type="submit">Search</button>
    </form>
  </div>
  <div class="container mt-5">
    <h1>Search cars</h1>
    <form id="searchForm" action="/items/search" method="get" class="form-inline mb-4">
      <div class="form-group mx-sm-3 mb-2">
        <label for="brandSelect">Select Brand: </label>
        <select id="brandSelect" name="brandSelect" multiple="multiple" class="form-control">
          {{#each car_brand}}
          <option value="{{this.brand_id}}">{{this.brand_name}}</option>
          {{/each}}
        </select>
      </div>
      <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>
    <h2>Car List</h2>
    <ul>
      {{#each items}}
      <li>
        <strong>Brand:</strong> {{this.brand_name}} <br>
        <strong>Model:</strong> {{this.model_name}} <br>
        <br>
      </li>
      {{/each}}
    </ul>
  </div>

  <script>
    $(document).ready(function () {
      $('#brandSelect').select2({
        includeSelectAllOption: true,
        nonSelectedText: 'Select Brand'
      });
    });
  </script>
</body>

</html>