<!-- views/index.handlebars -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car List</title>
</head>
<body>
    <h1>Car List</h1>
    <ul>
        {{#each items}}
        <li>
            <strong>ID:</strong> {{this.brand_id}} <br>
            <strong>Brand:</strong> {{this.brand_name}} <br>
            <strong>Model:</strong> {{this.model_name}} <br>
            {{!-- <strong>Price:</strong> {{this.price}} <br>             --}}
        </li>
        {{/each}}
    </ul>
</body>
</html>
