<div class="'container mt-5">
    <h1>Search Vehicles</h1>
    <form action="/items" method="get">
        <label for="brand_name">Brand Name:</label>
        <select id="brand_name" name="brand_name[]" multiple="multiple">
            {{#each brands}}
            <option value="{{this.brand_id}}">{{this.brand_name}}</option>
            {{/each}}
        </select>    

        <label for="model_name">Model Name:</label>
        <select id="model_name" name="model_name[]" multiple="multiple">
            {{#each models}}
            <option value="{{this.model_id}}">{{this.model_name}}</option>
            {{/each}}
        </select>  
    </form>
</div>

<script>
    $(document).ready(function() {
        $('#brand_name, #model_name').multiselect();
    });
</script>